.create-blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-tech-artificial-intelligence-poster-background-intelligencelight-effecttextureposterbackground-image_68116.jpg");
  background-size: cover;
  color: #ffffff;
  font-family: Serif Bree;
  padding: 10px;
}

.img {
  height: 50vh;
}

.create-blog-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.create-blog-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.create-blog-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.create-blog-form input,
.create-blog-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  color: #333;
}

.create-blog-form textarea {
  resize: vertical;
  min-height: 100px;
}

.create-blog-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-blog-form button:hover {
  background-color: #0056b3;
}

.show-post-card {
  text-align: center;
  background-color: yellow;
}

.carton-img {
  height: 40vh;
  border-radius: 50px;
}

.blogs-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  width: 100px;
}
